<div
  class="bg-stripes-blue fixed bottom-0 grid h-52 w-full grid-flow-row-dense grid-cols-4 justify-evenly gap-10 p-12"
>
  <div class="">첫번째 영역입니다</div>
  <div class="">두번째 영역입니다</div>
  <div class="">세번째 영역입니다</div>
  <div class="">네번째 영역입니다</div>
</div>
