---
import Layout from "@/layouts/Layout.astro";
import Sample from "@/components/react/Sample";
---

<Layout title="HYEZO WORKS®">
  <main class="mt-20 flex flex-col items-center">
    <h1>아스트로 입문기</h1>
    <p>리액트 영역</p>
    <Sample client:load />
  </main>
</Layout>
