---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <form action="POST" class="flex flex-col place-items-center space-y-3">
    <h1 class="mt-52 mb-7">Create Account</h1>
    <label for="first-name">FIRST NAME</label>
    <input
      type="text"
      id="first-name"
      class="mb-2 p-3 bg-red-200 border border-black rounded-2xl"
    />
    <label for="last-name">LAST NAME</label>
    <input
      type="text"
      id="last-name"
      class="mb-2 p-3 bg-red-200 border border-black rounded-2xl"
    />
    <label for="email">EMAIL</label>
    <input
      type="text"
      id="email"
      class="mb-2 p-3 bg-red-200 border border-black rounded-2xl"
    />
    <label for="password">PASSWORD</label>
    <input
      type="text"
      id="password"
      class="mb-2 p-3 bg-red-200 border border-black rounded-2xl"
    />
    <button class="text-base bg-black text-white p-2 w-40 rounded-full">Create</button>
  </form>
</Layout>
