---
import "@/styles/tailwind.css";
import Seo from "@/components/astro/Seo.astro";
import Nav from "@/components/astro/Nav.astro";
import Footer from "@/components/astro/Footer.astro";
declare global {
  interface props {
    title: string;
  }
}
const title = "HYEZO WORKS®";
---

<!DOCTYPE html>
<html lang="ko">
  <Seo title={title} />
  <body>
    <Nav title={title} />
    <slot />
    <Footer />
  </body>
</html>
